h1 {
  text-align: center;
  background-color: grey;
  color: blue;
  font-family: arial;
}

body {
  background-color: skyblue;
}

.container {
  text-align: center;
}

.row {
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
}

#sidebar-left {
  background-color: grey;
  height: 40em;
  box-sizing: border-box;
  position: relative;
  margin-right: 0;
  padding: 0;
}

#sidebar-right {
  background-color: grey;
  height: 40em;
  vertical-align: top;

}

#questioner {

  vertical-align: top;
  position: relative;
  background-color: green;
  height: 30em;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}

#answer {

  background-color: teal;
  height: 10em;
  margin-left: 20%;
  margin-right: 20%;
}

#footer {
  background-color: black;
  height: 40px;
  margin-top: 42em;
  color: white;
  text-align: center;
  font-family: arial;
}
